@model IEnumerable<OnlineBookStore_WebApp.Models.cart>

@{
    ViewData["Title"] = "Viewcart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Viewcart</h1>

<center>Cart Pages</center>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zoner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zoner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                <img class="detailimg"src="/@item.Image">
            </td>
            
        </tr>
}
    </tbody>
</table>
<center>
    <a class="btn btn-info" asp-action="Index">Go To Back</a>
</center>